<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jelly</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='table.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='banner.css')}}">
	<link rel="icon" href="{{url_for('static', filename='title.ico')}}">
	<script src="{{url_for('static',filename='jquery.min.js')}}"></script>
</head>
<body>
<table>
	<caption style="margin:10px"> </caption>
	<thead>
		<tr>
			<th>名称</th>
			<th>实时点数</th>
			<th>实时涨幅</th>
			<th>百分比</th>
			<th>更新时间</th>
		</tr>
	</thead>
	<tbody>
	{% for i in board %}
		<tr>
			{% if i.name=='沪深300' or i.name=='上证指数' %}
				<td>{{i.name}}</td>
				<td>{{i.price}}</td>
				<td >{{i.priceChange}}</td>
				<td class="num">{{i.changePercent}}%</td>
				<td>{{i.date}}</td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<table>
	<caption> </caption>
	<thead>
		<tr>
			<th>名称</th>
			<th>代码</th>
			<th>预估</th>
			<th>昨日</th>
		</tr>
	</thead>
		<tr>
			<td>总持仓合计</td>
			<td></td>
			<td class="num">{{average_expect}}%</td>
			<td class="num">{{average_dayGrowth}}%</td>
		</tr>
	{% for i in detail %}
		<tr>
			<td>{{i.name}}</td>
			<td>{{i.code}}</td>
			<td class="num">{{i.expectGrowth}}%</td>
			<td class="num">{{i.dayGrowth}}%</td>
		</tr>
	{% endfor %}
</table>
<!--<p id="ttt">12345</p>-->
<!--<button type="button" onclick="test()">click</button>-->
<!--	<script src="https://www.usd-cny.com/btc/b.js"></script>-->
	<script src="{{url_for('static',filename='time.js')}}"></script>
	<script src="{{url_for('static',filename='redorgreen.js')}}"></script>
	<script src="{{url_for('static',filename='mail.js')}}"></script>
<!--	<script src="{{url_for('static',filename='btc.js')}}"></script>-->
 	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
<!--    <script>-->
<!--	function test(){-->
<!--		var word = $('#ttt')-->
<!--		console.log(word)-->
<!--		$.get('/test_post/',{-->
<!--			'method': 'GET',-->
<!--			'text': word.text()-->
<!--		},-->
<!--		function(data){-->
<!--			console.log(data)-->
<!--			alert(data)-->
<!--			word.text(data)-->
<!--		})-->
<!--	}-->
<!--    </script>-->
</body>
</html>

