<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jelly</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='table.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='banner.css')}}">
	<link rel="icon" href="{{url_for('static', filename='title.ico')}}">
	<script src="{{url_for('static',filename='jquery.min.js')}}"></script>
</head>
<body>
<ul>
  	<li><a href="{{ url_for('haoym_index') }}">薅羊毛</a></li>
  	<li><a href="#" onclick="disp_alert()">联系我</a></li>
  	<li><a href="https://www.doctorxiong.club/api/" target='_blank'>关于接口</a></li>
  	<li><a href="https://www.toutiao.com/c/user/52223465634/#mid=0" target='_blank'>鬼才</a></li>
  	<li><a href="{{ url_for('weibo', user='all') }}" target="_blank">微博</a></li>
<!--  	<li><a href="/weibo/zuanbuwan" target='_blank'>赚不完</a></li>-->
<!--  	<li><a href="https://www.toutiao.com/c/user/token/MS4wLjABAAAA_eKXcFBnBfBXH4SYEC8tLkQFgjgCycyYcNQxOa74Kf0/" target='_blank'>赚不完(tt)</a></li>-->
<!--  	<li><a href="/weibo/qunweiwei" target='_blank'>群伟伟</a></li>-->
<!--  	<li><a href="https://www.toutiao.com/c/user/token/MS4wLjABAAAAJvmsqH2zTvKzjTFv_xp_Wj38S6gPDBSenHR8HxtMaFE/" target='_blank'>一哥</a></li>-->
<!--  	<li><a href="https://c3pool.com/#/dashboard?addr=42cCoxX7bQbLoBnsNwQ8htCHxW91R9MacTmu96mAjCZBfbG1oHGXZwk1EJsnnkSXfg7VEL4Fmo4Qaf4AatALq1zp5B86B3W" target='_blank'>猫池：{{xmr}}</a></li>-->
	<li><a href="https://price.btcfans.com/price/bitcoin" target="_blank">BTC：{{btc.price}}</a></li>
	<li><a href="https://price.btcfans.com/price/ethereum" target="_blank">ETH：{{eth.price}}</a></li>
	<li><a href="https://price.btcfans.com/price/monero" target="_blank">XMR：{{xmr.price}}</a></li>
<!--	<li ><a id="btc" href="https://price.btcfans.com/price/bitcoin" target="_blank"></a></li>-->
  	<li style="float:right" id="time"></li>
</ul>
<table>
	<caption style="margin:10px"> </caption>
	<thead>
		<tr>
			<th>名称</th>
			<th>实时点数</th>
			<th>实时涨幅</th>
			<th>百分比</th>
			<th>更新时间</th>
		</tr>
	</thead>
	<tbody>
	{% for i in board %}
		<tr>
			{% if i.name=='沪深300' or i.name=='上证指数' %}
				<td>{{i.name}}</td>
				<td>{{i.price}}</td>
				<td >{{i.priceChange}}</td>
				<td class="num">{{i.changePercent}}%</td>
				<td>{{i.date}}</td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<table id="FundDetail">
	<caption> </caption>
	<thead>
		<tr>
			<th>名称</th>
			<th>代码</th>
			<th>预估</th>
			<th>昨日</th>
			<th>最近一周</th>
			<th>最近一月</th>
			<th>最近三月</th>
			<th>持仓成本</th>
			<th>线性回归</th>
			<th>天天基金</th>
			<th>编辑</th>
		</tr>
	</thead>
		<tr>
			<td>总持仓合计</td>
			<td></td>
			<td class="num">{{average_expect}}%</td>
			<td class="num">{{average_dayGrowth}}%</td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				<a href="{{ url_for('xalpha_all_td') }}"  style='color: #666;text-decoration: none;' target="_blank">持仓分布</a>
			</td>
			<td>
				<a href="{{ url_for('xalpha_all') }}"  style='color: #666;text-decoration: none;' target="_blank">持仓概览</a>
			</td>
			<td>
			</td>
			<td>
				<input id="create_code" type="number" placeholder="代码" style="width:70px">
				<input id="create_money" type="number" placeholder="持仓(￥)" style="width:70px">
				<button id="create_btn">新增</button>
			</td>
		</tr>
	{% for i in detail %}
		<tr>
			<td>{{i.name}}</td>
			<td class="code">{{i.code}}</td>
			<td class="num">{{i.expectGrowth}}%</td>
			<td class="num">{{i.dayGrowth}}%</td>
			<td class="num">{{i.lastWeekGrowth|float|round(2)}}%</td>
			<td class="num">{{i.lastMonthGrowth}}%</td>
			<td class="num">{{i.lastThreeMonthsGrowth}}%</td>
			<td>
				<a href="{{ url_for('xalpha_cccb', code=i.code) }}" style='color: #666;text-decoration: none;' target="_blank">图例</a>
			</td>
			<td>
				<a href="{{ url_for('xxhg', code=i.code) }}" style='color: #666;text-decoration: none;' target="_blank">图例</a>
			</td>
			<td>
				<a href='http://fund.eastmoney.com/{{i.code}}.html' style='color: #666;text-decoration: none;' target='_blank'>链接</a>
			</td>
			<td>
				<input class="value" type="number" placeholder="最新持仓(￥)" style="width:106px">
				<button class="update" >更新</button>
				<button class="delete" >删除</button>
			</td>
		</tr>
	{% endfor %}
</table>
<!--<p id="ttt">12345</p>-->
<!--<button type="button" onclick="test()">click</button>-->
<!--	<script src="https://www.usd-cny.com/btc/b.js"></script>-->
	<script src="{{url_for('static',filename='time.js')}}"></script>
	<script src="{{url_for('static',filename='color.js')}}"></script>
	<script src="{{url_for('static',filename='mail.js')}}"></script>
	<script src="{{url_for('static',filename='codelist.js')}}"></script>
<!--	<script src="{{url_for('static',filename='btc.js')}}"></script>-->
<!-- 	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>-->
<!--    <script>-->
<!--	function test(){-->
<!--		var word = $('#ttt')-->
<!--		console.log(word)-->
<!--		$.get('/test_post/',{-->
<!--			'method': 'GET',-->
<!--			'text': word.text()-->
<!--		},-->
<!--		function(data){-->
<!--			console.log(data)-->
<!--			alert(data)-->
<!--			word.text(data)-->
<!--		})-->
<!--	}-->
<!--    </script>-->
</body>
</html>

