<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jelly</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='table.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='banner.css')}}">
	<script src="{{url_for('static',filename='time.js')}}"></script>
    <script type="text/javascript">
        function disp_alert()
        {
        alert("Email: guodongggg@gmail.com")
        }
    </script>
</head>
<body>
<ul>
  <li><a href="/hao">薅羊毛</a></li>
  <li><a href="#" onclick="disp_alert()">联系我</a></li>
  <li><a href="https://www.doctorxiong.club/api/" target='_blank'>关于接口</a></li>
  <li><a href="https://www.toutiao.com/c/user/52223465634/#mid=0" target='_blank'>鬼才</a></li>
  <li><a href="https://www.toutiao.com/c/user/token/MS4wLjABAAAA2cRL3fsPvne6NJZq7W-UeYK1Hkgx7Ar9JtmX7UrGrI-HdcGd_Omxnk7rduhDOS94/" target='_blank'>赚不完</a></li>
  <li><a href="https://www.toutiao.com/c/user/token/MS4wLjABAAAAJvmsqH2zTvKzjTFv_xp_Wj38S6gPDBSenHR8HxtMaFE/" target='_blank'>一哥</a></li>
  <li><a href="https://www.toutiao.com/c/user/token/MS4wLjABAAAAPO6FCp8uw8vqMs-AB59SF5qtdtR2zM2VBatBA1fxOrs/" target='_blank'> 大V指数</a></li>
  <li style="float:right" id="time"></li>
</ul>
<table>
	<caption style="margin:10px">大盘</caption>
	<thead>
		<tr>
			<th>名称</th>
			<th>实时点数</th>
			<th>实时涨幅</th>
			<th>百分比</th>
			<th>更新时间</th>
		</tr>
	</thead>
	<tbody>
	{% for i in board %}
		<tr>
		{% if i.code == 'sh000001' or i.code == 'sz399300' %}
			<td>{{i.name}}</td>
			<td>{{i.price}}</td>
			<td>{{i.priceChange}}</td>
    		{% if i.changePercent|float > 0 %}
				<td style='color:red'>{{i.changePercent}}%</td>
			{% else %}
				<td style='color:green'>{{i.changePercent}}%</td>
			{% endif %}
			<td>{{i.date}}</td>
		{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<table>
	<caption>基金</caption>
	<thead>
		<tr>
			<th>名称</th>
			<th>代码</th>
			<th>实时涨幅</th>
			<th>周涨幅</th>
			<th>最近一月涨幅</th>
			<th>最近三月涨幅</th>
			<th>天天基金</th>
		</tr>
	</thead>
	{% for i in detail %}
		<tr>
			<td>{{i.name}}</td>
			<td>{{i.code}}</td>
			{% if i.expectGrowth|float > 0 %}
				<td style='color:red'>{{i.expectGrowth}}%</td>
			{% else %}
				<td style='color:green'>{{i.expectGrowth}}%</td>
			{% endif %}
			{% if i.lastWeekGrowth|float > 0 %}
				<td style='color:red'>{{i.lastWeekGrowth|float|round(2)}}%</td>
			{% else %}
				<td style='color:green'>{{i.lastWeekGrowth|float|round(2)}}%</td>
			{% endif %}	
			{% if i.lastMonthGrowth|float > 0 %}
				<td style='color:red'>{{i.lastMonthGrowth}}%</td>
			{% else %}
				<td style='color:green'>{{i.lastMonthGrowth}}%</td>
			{% endif %}		
			{% if i.lastThreeMonthsGrowth|float > 0 %}
				<td style='color:red'>{{i.lastThreeMonthsGrowth}}%</td>
			{% else %}
				<td style='color:green'>{{i.lastThreeMonthsGrowth}}%</td>
			{% endif %}		
			<td><a href='http://fund.eastmoney.com/{{i.code}}.html' style='color: #666;text-decoration: none;' target='_blank'>链接</a></td>
		</tr>
	{% endfor %}
</table>
</body>
</html>

