<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ article_title }}</title>
  <link rel="icon" href="{{url_for('static', filename='title.ico')}}">
  <meta name="referrer" content="no-referrer" />
  <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="https://fat.github.io/zoom.js/js/zoom.js"></script>
  <link rel="stylesheet" type="text/css" href="https://fat.github.io/zoom.js/css/zoom.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='wb_article.css')}}">
</head>
<body>
  <div class="container">
    <h1>文章</h1>
	{% for i in article_info.msg %}
        <p>{{i}}</p>
    {% endfor %}
	{% for i in article_info.pic %}
        <img src="{{i}}" data-action="zoom" class="pull-left" />
    {% endfor %}
  </div>
</body>
</html>
