<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user}}</title>
</head>
<body>
<div style="width:70%;margin:0 auto;">
{% if user == "群伟伟" %}
    {% for i in weibo_data %}
        <h4>---{{ i.created_at }}---</h4>
        <a href="{{i.article_url}}" target="_blank" style="color: inherit;text-decoration: none">{{ i.text }}</a>
    {% endfor %}
{% elif user == "赚不完亏得完Ryu" %}
    {% for i in weibo_data %}
        <h4>---{{ i.created_at }}---</h4>
        <p>{{ i.text }}</p>
    {% endfor %}
{% endif %}
</div>
</body>
</html>